<!--> This file contains the body of the e-mail <!/-->
<p>Hi <%= @user[0].name %>

Your M.O.T is due for renewal on <%= @mot.mot_date %> </p>

<p> Please contact the M.O.T centre to arrange your annual test </p>
