<tr>
  <td class="mot">
    <span class="user">
      <%= link_to feed_item.user.mot_date, feed_item.user %>
    </span>
    <span class="content"><%= feed_item.mot_date %></span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.mot_date %>
  </td>
  <% end %>
</tr>
