<h1> About MOTAS </h1>
<p> MOTAS is to be used to book a reminder for your M.O.T renewal </p>
<p> This service will allow you to register, input your details and be sent a reminder </p>
<%= link_to herokurails %>