<h1> MOTAS HomePage </h1>
<!--> Contains two pages in one that ate seperated by the embedded Ruby (Erb) logic <!/-->
<p>
  Write some stuff about M.O.T's and the fines relating to them, with links to Vosa </p>
<% if signed_in? %>
<table class="mot_enter">
  <tr>
    <td class="main">
      <h1 class="M.O.T"> Please enter you M.O.T date
      </h1>
      <%=  render 'shared/mot_form' %>
    </td>
  </tr>
</table>
<% else %>



<%= link_to "Sign up to book your M.O.T Reminder", signup_path, :class => "signup_button round" %>
<% end %>